# Jakob - don't forget to export GIT_COMMITTER_EMAIL

[user]
	name = Jakob Homan
	email = jghoman@gmail.com
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  st = status -s
  cl = clone
  ci = commit
  co = checkout
  br = branch
  cm = checkout master
  pl = pull -rebase
  branc = branch
  ec = commit --allow-empty
[color]
  ui = true
[core]
  editor = vim
  pager = /usr/bin/less
	excludesfile = ~/.gitignore_global
  trustctime = false

[url "git@github.com:"]
insteadof = https://github.com/
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	trustctime = false
[pull]
	rebase = false
[init]
	defaultBranch = main
