[user]
	name = Jakob Homan
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  st = status -s
  cl = clone
  ci = commit
  co = checkout
  br = branch
  cm = checkout master
  pl = pull -rebase
  branc = branch
[color]
  ui = true
[core]
  editor = vim
  pager = /usr/bin/less
	excludesfile = ~/.gitignore_global
	trustctime = false
